/* You'll probably want to add some styles here */

h1 {
	font-weight: bold;
	padding; 5x;

}

.descript {
	text-align: center;
}

.blue {
	color:blue;
}

.red {
	color:red;
}

#container {
	height:800px;
}